@charset "utf-8";
/* CSS Document */

.menuflotan{
	background: #6C6; color: #FFF;
	border: 1px #063 solid;
	border-left: 4px #063 solid;
	text-align: left;	padding: 5px;
	position: fixed; top: 89px;
	display: block; z-index: 999;
}
.menuflotan a {
	color: #FFF; text-decoration: none;
}
.menuflotan a:hover {
	color: #FFF; text-decoration: underline;
}
#mfConfig{
	right: 75px; width: 120px; 
}
#mfExport{
	right: 300px; width: 120px; 
}
.mfboton { padding: 2px; }


