@charset "utf-8";
/* CSS Document */

body {
	background: #FFF;
}
#reporte {
	width: 21.6cm; height: 33cm;
	font-family: Verdana, Geneva, sans-serif;
	background: #FFF; 
}
#rptcont {
	margin: 1cm 2cm; font-size: 10pt;
}
#rencabe{
	font-size: 10pt; text-align: center;
}
#rtitulo{
	font-size: 13pt; font-weight: bold; 
	padding: 15px; text-align: center;
}
#rdatos{
	font-size: 10pt;
}
.parrafo {
	padding: 10px 0px;
	font-size: 10pt; text-align: justify;
}
#firma {
	padding-top: 50px;
	font-size: 10pt; text-align: center;
	padding-left: 400px;
}
.nota {
	padding: 10px; font-size: 7pt;
	text-align: justify; 
	border: 1px #000000 solid;
	margin-top: 10px;
}
