@charset "utf-8";
/* CSS Document */

body {
	background: #EAFFD2;
}
#flogin{
	background: #6C6; 
	padding: 30px; 
	border: 1px #063 solid;
	margin: auto; 
	width: 300px;
	margin-top: 60px;
}  
