@charset "utf-8";
/* CSS Document */

.Ventana {
	min-height: 100px; min-width: 100px;
	max-height: 400px; max-width: 400px;
	overflow: auto; text-align: center;
	border: 1px #333 solid;
}
.Ventana .VTitulo {
	background: #333; color: #FFF;
	font: bold 7pt Verdana, Geneva, sans-serif;
	text-align: left; padding: 1px;
}
.Ventana .VTitulo a {
	color: #FFF;
	text-decoration: none;
	float: right; width: 10px; 
	text-align: right;
}
.Ventana .VTitulo .VTools {
	
}
.Ventana .VConten {
	margin: 2px;
	text-align: left;
}